<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
      <ul>
            <li><a href="/admin/adduser">Add user</a></li>
            <li><a href="/admin/showuser">Show user</a></li>
            <li><a href="/admin/createtask">Add Task</a></li>
            <li><a href="/admin/showtask">Show Task</a></li>
            <!-- <li><a href="/admin/managetask">Manage Task</a></li> -->
      </ul>
</body>

</html>